body {
  border-top: solid 5px #4E2A8E;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}
.header-title, .mobile-nav {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: xx-large;
}
.giscus {
  display: flex;
  flex-direction: column;
}
